INVENTORY_DB_PASS=postgres
INVENTORY_DB_USER=mv_user
INVENTORY_DB_NAME=movies_db
INVENTORY_DB_HOST=inventory-db

BILLING_DB_USER=billing_user
BILLING_DB_PASS=password
BILLING_DB_NAME=billing_db
BILLING_DB_HOST=billing-db

RABBITMQ_USER=rabbit
RABBITMQ_PASS=password
RABBITMQ_QUEUE=billing_queue

RABBITMQ_PORT=5672
INVENTORY_APP_PORT=8080
BILLING_APP_PORT=8080
APIGATEWAY_PORT=3000